<h2 class="text-2xl md:text-4xl font-bold dark:text-black text-center my-8">Update Chemical Compound</h2>

<form
  [formGroup]="profileForm"
  (ngSubmit)="onSubmit()"
  class="max-w-lg mx-auto"
>
  <div class="mb-5">
    <label
      for="compound-name"
      class="block mb-2 text-sm font-medium text-gray-900"
      >Compound Name:
    </label>
    <input
      id="compound-name"
      type="text"
      formControlName="CompoundName"
      placeholder="Compound Name"
      [(ngModel)]="compound.CompoundName"
      class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
    />
  </div>
  <div class="mb-5">
    <label
      for="compound-description"
      class="block mb-2 text-sm font-medium text-gray-900"
      >Compound Description:
    </label>
    <input
      id="compound-description"
      type="text"
      formControlName="CompoundDescription"
      placeholder="Compound Description"
      [(ngModel)]="compound.CompoundDescription"
      class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
    />
  </div>
  <div class="mb-5">
    <label
      for="str-image-source"
      class="block mb-2 text-sm font-medium text-gray-900"
      >Image Source:
    </label>
    <input
      id="str-image-source"
      type="file"
      (change)="onFileChangeSource($event)"
      class="max-w-lg mx-autoblock w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 p-2"
      aria-describedby="user_avatar_help"
    />
    <div class="mt-1 text-sm text-gray-500" id="user_avatar_help">
      Upload to change the compound picture
    </div>
  </div>
  <div class="mb-5">
    <label
      for="str-image-attribution"
      class="block mb-2 text-sm font-medium text-gray-900"
      >Image Attribution:
    </label>
    <input
      id="str-image-attribution"
      type="file"
      (change)="onFileChangeAttribution($event)"
      class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 p-2"
      aria-describedby="user_avatar_help"
    />
  </div>
  <button
    type="submit"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >
    Submit
  </button>
</form>
