<h2 class="text-2xl font-bold text-gray-800 mb-4 flex items-center">
  <i class="fas fa-flask text-blue-500 mr-2"></i>
  Your Chemical Compounds :
</h2>

<div class="flex flex-col items-center justify-center w-full">
  <!-- @for (compound of compounds; track $index) {} -->

  <div
    *ngFor="let compound of compounds; index as i"
    class="my-6 flex flex-col bg-white border border-gray-200 rounded-lg shadow md:flex-row hover:bg-gray-300 w-9/12"
    (click)="openCompoundPage(compound)"
  >
    <div class="m-3 text-lg">{{ compound.id }}</div>
    <div class="w-full flex items-center">
      <img
        class="object-cover w-[20%] rounded-t-lg h-96 md:h-auto md:rounded-none md:rounded-s-lg"
        src="{{ compound.strImageSource }}"
        alt=""
      />
      <div class="w-[80%] flex flex-col justify-between p-4 leading-normal">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray">
          {{ compound.CompoundName }}
        </h5>
        <p class="mb-3 font-normal text-gray-700 overflow-hidden whitespace-nowrap text-ellipsis w-[80%]">
          {{ compound.CompoundDescription }}
        </p>
        <p class="underline mb-3 font-normal text-gray-700 text-sm hover:cursor-pointer w-fit">
            Read more
        </p>
        <button
          (click)="openUpdateComponent(compound)"
          type="submit"
          class="w-[20%] text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Update
        </button>
        <div class="my-4 text-grey-300">
          Last updated at : {{ compound.updatedAt | date : "dd/MM/yyyy" }}
        </div>
      </div>
    </div>
  </div>

  <div class="w-full overflow-auto p-8 flex items-center justify-center gap-2">
    <div *ngFor="let item of [].constructor(totalPages); let index = index">
      <button
        class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
        (click)="changePage(index + 1)"
      >
        {{ index + 1 }}
      </button>
    </div>
  </div>
</div>


